
{% for section in config.sections %}
[{{ section.name }}]
{% for attribute in section.attributes %}
{{ attribute.name }} = {% if attribute.value is defined %}{{ attribute.value }}{% endif %}

{% endfor %}

{% endfor %}