---
- name: look for config definition
  stat:
    path: variables/config.yml
  register: declaration
  when: config is undefined

- name: Ensure config is is created
  block:
    - name: Load config variables
      include_vars: "{{ item }}"
      with_first_found:
        - variables/config.yml

    - name: Ensure config file is created
      template:
        src: templates/config.ini.j2
        dest: "{{ output.path }}/{{ config.file.name }}"

    - name: Ensure config class is created
      template:
        src: templates/config.py.j2
        dest: "{{ output.path }}/{{ output.directories.utils }}/config.py"
  when: config is undefined and declaration.stat.exists